.navbar{
    /* min-width: 726px; */
    background-color: #2e2e2e  
}

/* code couleur header et footer #895900

#4a3100

#24231f  

*/

.container-g{
    padding-left: 11.8px; 
    padding-right: 11.8px;
}

.btn{
    color: white;
    background-color: #ffa600;
    width: 100px;
    font-family: "Jersey 25 Charted", sans-serif;
}

.btn:hover{
    color: white;
    
}

.pour-body1{
    /* min-width: 750px; */
    opacity: 0.7;
    
}

.Titre{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    
}


.couleur-ecritureFooter{
    color: rgb(255, 255, 255);
}

.footer{
    padding-bottom: 30px;
}

.navbar-brand{
    color: rgb(255, 255, 255);
}
